# Root
**/__pycache__/
**/*.pyc
**/.venv/
**/venv/
**/.env
**/.env.*
**/.env.local
# 放行示例文件
!**/.env.example
!**/.env.local.example

# Backend
backend/data/*.db
backend/data/*.db-journal

# Frontend
frontend/dist/
frontend/.next/
frontend/node_modules/

*.log
.DS_Store
