# Root
**/__pycache__/
**/*.pyc
**/.venv/
**/venv/
**/.env
**/.env.*
**/.env.local

# Backend
backend/data/*.db
backend/data/*.db-journal

# Frontend
frontend/dist/
frontend/.next/
frontend/node_modules/

*.log
